
    <form class="card" action="card" method="git">

    <table >
  <tr id="th1">
    <th>Sandwish name</th>
    <th>amount</th>
    <!-- <th>Time</th> -->
    <th>Note</th>
    <th>price</th>
    <th>Delete Order</th>
  </tr>
  {{#each data}}
  <tr>
    <td>{{name}}</td>
    <td>{{amount}}</td>
    <!-- <td>timex</td> -->
    <td><input type="textarea" placeholder="EX : extra cheese in tost" name="" value=""></td>
      <td>{{price}}</td>
    <td><button id="delete-btn" type="button" name="button">Delete</button></td>
  </tr>
  {{/each}}
</table>

   <input id="confirm" type="submit" name="confirm" value="confirm">
    </form>
