
    <form class="card" action="card" method="git">

    <table >
  <tr id="th1">
    <th>firstName </th>
    <th>order</th>
    <th>price</th>
    <th>Totalprice</th>
    <th>Delete Order</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
    <td>50</td>
    <td>
  <button id="delete-btn" type="button" name="button">Delete</button>
</td>

  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
        <td>50</td>
        <td>
      <button id="delete-btn" type="button" name="button">Delete</button>
    </td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
        <td>50</td>
        <td>
      <button id="delete-btn"  type="button" name="button">Delete</button>
    </td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
        <td>50</td>
        <td>
      <button id="delete-btn"  type="button" name="button">Delete</button>
    </td>
  </tr>
</table>

   <input id="confirm" type="submit" name="confirm" value="confirm">
    </form>
