<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/aboutus.css">
  </head>
<body style="margin: 0;">
      <header class="masthead">
        <div class='overlay'>
        <nav class="top-navigation">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Create an account</a></li>
          </ul>
        </nav>
        <div class="heading">
          <h1 class="masthead-name">Khobza App</h1>
          <h3 class="masthead-job">Who are we ?<br>Khobza is a web app that is meant to help<br>GSG staff and visitors order sandwiches from the <br>cafeteria of GSG during the lunchtime. <br>The main focus of the app is to eliminate distraction <br>resulting from leaving one's desk to get a sandwich. With our app, <br>the users will save time and effort.</h3>
        </div>
        </div>
      </header>
        </body>
</html>
