
    <form class="suggestion" action="suggestion" method="post">
    <h1 id="h">If you have any questions or ideas, let us know!</h1>
       <textarea  class="textarea" name="post" rows="8" cols="80" placeholder="For Hani"></textarea>

       <!-- <img class="pic"  src="8.jpg" alt="its something thats you want to eat "> -->
       <input id="send" type="submit" name="send" value="send">

    </form>
