<header id="js-header">
      <div class="container">
      <div class="logo">
        <img src="https://i.imgur.com/KFWF7FX.png" alt="" style="width: 220px;" onMouseOver = "this.style.cursor = 'pointer'" onclick="window.location='/'">
      </div>
      <form>

        <div class="icons">
          <a href="#"><i class="fa fa-bell-o fa-2x" title="notification"></i></a>
          <a href="/cart"><i class="fa fa-shopping-cart fa-2x icon" id="cart" title="shopping cart"></i></a>
          <a href="/suggestion"><i class="fa fa-info-circle fa-2x" title="your suggestion"></i></a>
          <a href="/map"><i class="fa fa-map-o fa-2x" title="nearby restaurant"></i></a>
          <a href="/logout"><i class="fa fa-sign-out fa-2x" title="log out"></i></a>
        </div>
      </form>
    </div>
    </header>
    <img class="line"src="./image/spr.png" alt="">
