<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/aboutus.css">
  </head>
<body style="margin: 0;">
      <header class="masthead">
        <div class='overlay'>
        <nav class="top-navigation">
          <ul>
            <li><a href="/login">تسجيل الدخول</a></li>
            <li><a href="/register">إنشاء حساب جديد</a></li>
          </ul>
        </nav>
        <div class="heading">
          <h1 class="masthead-name">Khobza App</h1>
          <h3 class="masthead-job">من نحن؟<br>تطبيق خبزة هو تطبيق يسعى لمساعدة <br>موظفي وزوار غزة سكاي جيكس طلب الساندويشات  من <br>من الكافتيريا خلال فترة الفطور. <br>الهدف الرئيس من التطبيق هو القضاء على التشوش <br>الناتج من مغادرة المكتب للحصول على الوجبة. باستخدام تطبيق خبزة، <br>سيتمكن المستخدمون من توفير الكثير من الوقت والجهد.</h3>
        </div>
        </div>
      </header>
        </body>
</html>
